<html>
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <style>
     .breadcrumbs li {
       list-style: none;
       display: inline-block;
     }
    </style>
  </head>
  <body>
    <div class="container">
      <h3 class="title is-3">Listing directory {{ current_path }}</h3>
      <nav class="breadcrumb">
        <ul>
          {% for crumb in breadcrumbs %}
            <li><a href="{{ crumb.0 }}">{{ crumb.1 }}</a></li>
          {% endfor %}
        </ul>
      </nav>
      <a href="/archive/{{ current_path}}">Download as ZIP</a>
      <table class="table is-fullwidth">
        <thead>
          <tr>
            <th>Entry</th>
            <th>Size (bytes)</th>
            <th>Modified At</th>
          </tr>
        </thead>
        <tbody>
          {% for entry in entries %}
            <tr>
              <td><a href="/{{ entry.href }}">{{ entry.name }}</a></td>
              <td>{{ entry.size }}</td>
              <td>{{ entry.mtime }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
